* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.swift text eol=lf
*.md text eol=lf
*.plist text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.png binary
*.pdf binary
*.zip binary
*.tar.gz binary
